
*cache*/
node_modules
dist
dist-ssr
.vite
*.local
.eslintcache
.prettierignore
.env

# Virtual environments
.venv
requirements.txt
*.py[oc]
__pycache__/
build

.DS_Store
.vscode/
*.code-workspace
*.log
zset*
.streamlit/*
!.streamlit/config.toml
